<!-- fragments/navbar.html -->
<div class="navbar" th:fragment="navbar">
    <span class="logo">DevOps Training</span>
    <nav>
        <a href="/">Accueil</a>
        <a href="/lab">Lab</a>
        <a href="/contact">Contact</a>
        <!-- Affiche le nom de l'utilisateur connecté et Déconnexion -->
        <span th:if="${#authorization != null and #authorization.expression('isAuthenticated()')}">
            Connecté en tant que <b
                th:text="${#authentication.principal.givenName} + ' ' + ${#authentication.principal.familyName}">Utilisateur</b>
            <a href="/logout" style="margin-left:10px;">Déconnexion</a>
        </span>
        <!-- Sinon, affiche Connexion -->
        <a th:if="${#authorization == null or !#authorization.expression('isAuthenticated()')}"
            href="/oauth2/authorization/keycloak?prompt=login" style="margin-left:20px;">Connexion</a>
    </nav>
</div>